.FormCard {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: calc(50% - 10px);
  padding: 16px;
  background-color: var(--primary-color);
  box-shadow: -1px 3px 3px #b3b2b2;
  border-radius: 6px;
}